---
layout: default
---

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Policy Reports</h2>
    </header>
        <div class="container">
        <!-- Book Chapters -->
<!--             <h2>Book Chapters</h2> -->
            <div class="table">
                {% for post in site.posts offset: 0 limit: 100 %}
                    {% if post.categories contains 'policy' %}
                        <div class="row">
                            <section class="12u">
                                 {{ post.title }} <a href="{{ site.baseurl }}{{ post.url }}"> <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
                                  <p class="indent"></p>
                            </section>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>

        </div>
</section>