<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
                    <section class="6u">
                            <h3>Get in touch</h3>
                            <form action="https://formspree.io/jcmunozmora@gmail.com" method="POST">
                                <div class="row half collapse-at-2">
                                    <div class="6u">
                                        <input type="text" name="name" id="name" placeholder="Name" />
                                    </div>
                                    <div class="6u">
                                        <input type="email" name="email" id="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="row half">
                                    <div class="12u">
                                        <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="row half">
                                    <div class="12u">
                                        <ul class="actions">
                                            <li><input type="submit" class="button alt" value="Send Message" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section>
            <div class="6u">
                <h2>Contact Information</h2>
                <p> juancarlos.munoz@upf.edu
                <br> Department of Economics and Management
                <br>Office 23.201
                <br>Univertitat Pompeu Fabra
                <br>C/ Ramon Trias Fargas 25-27
                <br>Barcelona 08005
                <br>Phone: (34) 935422590; Fax: (34) 93 5421746 </p>

                <ul class="icons">
                    <!-- Twitter -->
                    <li><a name="bottom" href="https://twitter.com/jcmunozmora" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <!-- Research Gate -->
                   <li> <a href="https://www.researchgate.net/profile/Juan_Munoz-Mora"> <i class="ai ai-researchgate-square ai-3x"></i></a></li>
                    <!-- Google Scholar -->
                    <li> <a href="https://scholar.google.com/citations?user=iGysRl4AAAAJ&hl=en"><i  href="https://scholar.google.com/citations?user=iGysRl4AAAAJ&hl=en" class="ai ai-google-scholar-square ai-3x"></i></a></li>
                    <!-- LikendIn -->
                    <li><a href="https://www.linkedin.com/in/juan-carlos-munoz-mora-996008a8?trk=nav_responsive_tab_profile_pic" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; All rights reserved.</li>
            <li>2016 </li>
<!--             <li>Images: <a href="http://unsplash.com">Unsplash</a></li> -->
<!--             <li>Latest Update:  </a></li> -->
        </ul>
    </div>
</footer>
