<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Juan Carlos Muñoz-Mora</h2>
                <p>Ph.D. in Economics 
                <h4>Post-Doctoral Research Fellow</h4>
                <h4>Universitat Pompeu Fabra</h4>
                    <!-- <li><a href="#content" class="button big special">Sign Up</a></li>
                    <li><a href="#elements" class="button big alt">Learn More</a></li> -->
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}
        {% include /analytics.html %}
    </body>

</html>
